.Title {
    letter-spacing: -0.4px;
    color: #263238;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 14px;
    word-wrap: break-word;
    overflow: hidden;
    height: 14px;
    white-space: nowrap;
}


.Description {
    letter-spacing: -0.4px;
    color: #455A64;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    overflow: hidden;
    height: 16px;
    white-space: nowrap;
}

