.menuButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border: none;
    background-color: transparent;
}

.menuButton {
    display: flex;
    align-items: center;
    gap: 4px;
}


.text {
    font-family: 'Titillium Web', serif;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #90A4AE;
    line-height: 16.38px;
    word-wrap: break-word;
}

.textActive{
    color: #263238;
    font-weight: 600;
}


