.PlanContainer {
    padding: 16px;
    position: relative;
    width: fit-content;
    box-sizing: content-box;
}


.PlanImageContent {
    img{
        width: 265px;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: 8px;
    }
    button {
        position: absolute;
        right: 32px;
        top: 32px;
    }
}

.PlanTitleContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.PlanDescriptionContent {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 201px;
}


