.filterBarContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 16px 64px;

    & > div{
        width: calc(25% - 10px);
    }

    .filterBarSelect__control:first-child{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.filterBarButton{
    background-color: rgba(255, 3, 200, 1);
    width: 40px;
    height: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        background-color: rgba(255, 3, 200, 0.8);
    }
}



