.counterContainer {
    margin-left: -8px;
    width: 38px;
    height: 24px;
    border-radius: 12px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7.5px;
    z-index: 20;
  }
  
  .counterBox {
    padding: 4.5px 3px; // top-bottom 4.5px, left-right 3px
    background: white;
    border-radius: 66.67px;
    overflow: hidden;
    border: 1.12px solid white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7.5px;
  }
  
  .counterText {
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
  }
  