* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .filterBarSelect {
    &__indicator-separator{
      display: none;
    }

    &__indicator svg{
      color: rgba(0, 0, 0, 1);  
    }

    &__control{
      height: 40px!important;
      border-radius: 0!important;
    }
  }

  .filterBarSelect__control:first-child{
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
  }
