.containerSecondaryPost {
    user-select: none; // Deshabilita la selección de texto en la mayoría de navegadores
    -webkit-user-select: none; // Ajuste para Safari/Chrome
    -moz-user-select: none;
}

.secondaryPostList {
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex: 0 0 auto;
}

.secondaryPostContainer {
    padding-bottom: 8px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    -webkit-box-shadow: 2px 8px 5px -3px rgba(69, 90, 100, 0.24);
    -moz-box-shadow: 2px 8px 5px -3px rgba(69, 90, 100, 0.24);
    box-shadow: 2px 8px 5px -3px rgba(69, 90, 100, 0.24);

}

.secondaryPostImage {
    position: relative;

    img {
        width: 265px !important;
        aspect-ratio: 3/4;
        object-fit: cover;
        border-radius: 8px;
        overflow: hidden;

    }

    .secondaryPostHashtag {
        position: absolute;
        top: 12px;
        right: 12px;
    }
}

.carousel-secondaryPost {
    padding: 16px;

    ul {
        display: flex;
        gap: 16px;
        width: -webkit-fill-available;
    }
}

.secondaryPostContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    padding: 8px;
}

.secondaryPostInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    width: 179px;

    .secondaryPostName {
        width: 201px;
        color: rgba(0, 0, 0, 1);
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        word-wrap: break-word;
        overflow: hidden;
        white-space: nowrap;
    }

    .secondaryPostNickname {
        width: 201px;
        color: rgba(96, 125, 139, 1);
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
    }

    .secondaryPostNicknameText{
        width: 177px;
        word-wrap: break-word;
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
    }
}